---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Contact">
  <Container>
    <div
      class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-40"
      id="contact">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Contact website4you</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Have something to say? We are here to help. Fill up the form or send
          email or call phone.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600 py-1">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>Welmilla,Bandaragama, Sri Lanka</span>
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600 py-2">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>Airport Road, Abu dhabi, UAE</span>
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600 py-1">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" />
            <a href="mailto:contact@kythonlk.com">contact@kythonlk.com</a>
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600 py-2">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" />
            <a href="tel:+94755841372">+94 (75) 584 1372</a>
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600 py-1">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" />
            <a href="tel:+971562982733">+971 (56) 298 2733</a>
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
