---
import Contactform from "@components/contactform.astro";
import { Icon } from "astro-icon";
import { conatcInfo } from "@utils/websitecontent";
import { Link } from 'astro-link';
---
<div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-40" id="contact">
    <div>
      <h2 class="font-medium text-2xl text-gray-800">{ conatcInfo.heading }</h2>
      <p class="text-lg leading-relaxed text-slate-500 mt-3">{ conatcInfo.body }</p>
      <div class="mt-5">
        <div class="flex items-center mt-2 space-x-2 text-gray-600">
          <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
          <span>{ conatcInfo.address }</span>
        </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
          <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><Link
            href={ conatcInfo.email }
            class="is-mail"
            >{ conatcInfo.email }</Link>
        </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
          <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><Link
            href={ conatcInfo.phone }
            class="is-tel"
            >{ conatcInfo.phone }</Link>
        </div>
      </div>
    </div>
    <div>
      <Contactform />
    </div>
  </div>