---
import Link from "./ui/link.astro";
---

<div id="cta"
  class="bg-black p-10 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight py-6">
    Crafting Speed with Expertise
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl py-4">
    Bring Your Dream Website to Life with Lightning Speed. Our skilled team and a collection of ready-made templates allow us to quickly integrate content from various sources.
    This, combined with Astro's advanced island architecture, ensures swift performance.
  </p>
  <div class="flex mt-5">
    <Link href="#" style="inverted">Get Started</Link>
  </div>
</div>
