---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "SEO Supercharged",
    description:
      "We optimize your website for search engines using Astro and React to ensure it ranks high in search results.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Lightning-Fast Performance",
    description:
      "We ensure your website loads in the blink of an eye, providing an exceptional user experience and boosting your SEO rankings.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Flexible CMS Integration",
    description:
      "We seamlessly integrate Next.js or WordPress as a headless CMS, allowing for easy content management while preserving SEO benefits.",
    icon: "bx:bxs-data",
  },
  {
    title: "Dynamic Content with React",
    description:
      "Utilizing React, we bring dynamic and engaging content to your site, which keeps users engaged and search engines indexing fresh content.",
    icon: "bx:bxs-bot",
  },
  {
    title: "One-Week Turnaround",
    description:
      "We're committed to delivering your fully optimized website within a week, ensuring that you get the benefits of speed and SEO without unnecessary delays.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Custom Solutions",
    description:
      "With Website4You, you have the freedom to create any website you desire. Our expertise in Astro, React, Tailwind, and various CMS options allows for endless possibilities.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0" id="features">
  <h2 class="text-4xl lg:text-5xl font-bold text-center lg:tracking-tight">
    Everything You Need for Your Website
  </h2>
  <p class="text-lg mt-4 text-slate-600 text-center">
    At Website4You, we provide websites with all the essential features you require. 
    We combine the best tools available with our own creative ideas to make 
    your website not just functional but truly outstanding.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
